<%= form_for @course,  :url => { :action => "add_one" },:html => {:multipart => true} do |f| %>
  <%= f.hidden_field :user_id %>
  <legend>Add Course</legend>
  <div class = "row">
    <div class = "span6">
      <%= f.label :Title %>
      <%= f.text_field :title %>
    </div>  
    <div class = "span6">
      <%= f.label :Topic %>
      <%= f.collection_select :topic, Course::TOPICS, :to_s, :to_s, 
         :include_blank => true%>
    </div>     
  </div>
  <p>
    <%= f.label :Time %>
    <%= f.datetime_select :start_time, { :include_blank => true, :start_year => 2013}, :class=>"input-small" %>
  </p>
  
  <div class = "row">
    <div class = "span6">
      <%= f.label :Length %>
      <%= f.select :length, [['1','1'],['2','2'],['3','3']], { :include_blank => true} %>
    </div>
    <div class = "span6">
      <%= f.label :Image %>
      <%= f.file_field :attachment %>
    </div>
  </div>

  <div class = "row">
    <div class = "span6">
      <%= f.label :Seats %>
      <%= f.text_field :seats %>
    </div>
    <div class = "span6">
      <%= f.label :Price %>
      <%= f.text_field :price %>
    </div>
  </div>
  
  <p>
    <%= f.label :Description %>
    <%= f.text_area :description, :class => "span8", :rows => "10"%>
  </p>
  
  
  <p><%= f.submit "Submit", :class =>"btn btn-primary"%></p>
<% end %>
