<% content_for(:head) do %>
  <%= javascript_include_tag 'enroll_course.js' %>
<% end %>

<legend id = <%=@course.id%> ><%=@course.title%></legend>

<div class="media">
	<a class="pull-right" href="#">
		<%=image_tag @course.attachment_url,:width => 200, :height => 200%>
	</a>
	<div class="media-body">
		<i class="icon-user"></i><strong> <%=@user.username%></strong><br />
		<i class="icon-time"></i>

		<strong id = "time" data-start="<%=@course.start_time%>" data-length=<%=@course.length%>> 
		<%=@course.start_time.to_date%>
		<%=@course.start_time.to_time.strftime('%H:%M')%>~
		<%=(@course.start_time+@course.length.to_i*60.minutes).to_time.strftime('%H:%M')%></strong>

		<p>Seats left: <%=@course.seats%></p>
		<p><%= simple_format(@course.description) %></p>

	</div>	
</div>	
<br /><br/>
<div class="row">
	<div class = "span2 offset10">
		 <input type= "submit" id="enroll"  value="Enroll" class="btn btn-large btn-primary"/>
			<!--<%= button_to 'Enroll', {:controller => :enrollment, :action => 'add_one', :course_id => @course.id}, :method=>:post  %>-->
		
	</div>
</div>
<% if @comments.count > 0%>
	<legend><%=@comments.count%> comments </legend>
	<%@comments.each do |comment|%>
		<%= simple_format (User.find(comment.user_id.to_s)).username %>
		<%= simple_format(comment.content) %>
		<hr />
	<%end%>
<%end%>		

<%= render :template=>'comment/new',  :locals => {:@comment => Comment.new} %>